h1 {
  font-weight: 900;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
}

.items-container {
  text-align: left;
}

.fk-row {
  margin: 10px 5px;
}

.fk-button {
min-width: 80px;
}

